:root{
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #f4f4f4;
    --font-family: 'Roboto Flex', sans-serif;

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: var(--link-color);
}

/* designing for navber */

nav{
    display: flex;
    /* makes divs in one line  */
    position: sticky;
    top: 1px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    
}

nav .left img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
nav .left a{
    color: var(--text-color);
    font-size: 22 px;
}

nav .right a{
    color: var(--text-color);
    font-size: 20px;
    margin-left: 20px;
}

/* hero section */

.hero {
    display: flex;
    /* makes divs in one line  */
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    padding: 20px;
    gap: 20px;
}

.hero .myimage {
    flex: 3;
    display: flex;
    justify-content: right;
    
}

.hero .myimage img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.hero .hero-text {
    flex: 7;
    max-width: 600px;
    line-height: 1.8;
    font-size: 18px;
    
}

.hero .hero-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: rgb(8, 54, 54);
}

.hero .hero-text h1 span {
    font-size: 42px;
    color: rgb(3, 83, 83);
}

.hero .hero-text p{
    font-size: 20px;
    color: rgb(52, 7, 7);
    margin-bottom: 20px;
}

.hero .hero-text .links a {
    margin-top: 20px;
    display: inline;
    padding: 10px 20px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 20px;

}

.hero .hero-text .links a:hover {
    background-color: rgb(84, 108, 116);
}

/* skill section */

.skills {
    margin-bottom: 50px;
    padding: 0 50px;
}

.skills h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: rgb(54, 3, 3);
    text-align: center;
}

.skills .text {
    text-align: center;
    margin-bottom: 15px;
    
}

.skills .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #ffffffff;
    /* height: 200px; */
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
}

.skills .cells .cell img {
    width: 150px;
    height: 100px;
    /* border-radius: 50%; */
    object-fit: cover;
}

/* contact section */
.contact {
    margin-bottom: 50px;
    padding: 0 50px;
}

.contact h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(52, 7, 7);
    text-align: left;
}

.contact .group {
    display: flex;
    gap: 50px;
}

.contact .group .text {
    flex: 3;
}

.contact .group form {
    flex: 7;
    display: flex;
    flex-direction: column;
}

.contact .group form input,
.contact .group form textarea{
    font-size: 16px;
    background-color: transparent;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    font-family: var(--font-family);
}

.contact .group form button {
    background-color: #4a76ee;
    outline: invert;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.contact .group form button:hover {
    filter: brightness(0.7);

}

/* footer */

footer {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}